* {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 2rem;
}

.titulo{
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

video {
    position: absolute;
    z-index: 1;
}

canvas {
    position: relative;
    z-index: 20;
}

#escanner{
    font-size: 2rem;
}

.boton{
    display: block;
    font-size: 2rem;
    margin-top: 1rem;
    text-decoration: none;
    color: white;
    background: #05A147;
}

.datos{
    margin-top: 2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
}