* {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.titulo{
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.img-voz{
    width: 400px;
    height: 400px;
    margin-bottom: 2rem;
}

#escanner{
    font-size: 2rem;
}

.boton{
    display: block;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    background: #05A147;
}

.datos{
    margin-top: 2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
}